body {
  background: #d3e0e0;
  margin: 0px;
  display:flex;
 width:100%;
   height:100vh;
  font-family: Roboto, Helvetica, Arial, sans-serif;

}
h2 {
  font-size: 40px;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

/* para quebra linha */
.wrap {
  flex-wrap: wrap;
}
.flex{
display: flex;
}

.correr {
  animation: go-back 2s;
}
.subir {
  animation: go-top 2s;
}
.icon-arrow {

  animation: go-top-arrow 0.8s infinite alternate;
}
a{
 cursor: pointer;
}
.justify-content-center {
  justify-content:center;
}
.text-center{
  text-align:center;
}
.mt-2{
  margin-top: 2pc;
}
.mt-4{
  margin-top: 4pc;
}
.mt-6{
  margin-top: 6pc;
}
.mt-8{
  margin-top: 8pc;
}
.mt-10{
  margin-top: 10pc;
}
.mt-12{
  margin-top:12pc;
}
.mb-2{
  margin-bottom: 2pc;
}
.mb-4{
  margin-bottom: 4pc;
}
.mb-6{
  margin-bottom: 6pc;
}
.mb-8{
  margin-bottom: 8pc;
}
.mb-10{
  margin-bottom: 10pc;
}
.mb-12{
  margin-bottom: 12pc;
}


.p-top-12 {
  padding-top:22pc ;

}


.justify-content-space-evenly{
  justify-content:space-evenly;
}
.icon-technology {
  width:100px;
}


@media(max-width: 800px) {
  .list{
    flex-wrap:  wrap ;
  }

}

@keyframes go-back {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes go-top-arrow {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(2%);
  }
}

@keyframes go-top {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
